.navbar{
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 45px;
    margin-top: 50px;
    width: 197px;
    height: 56px;
}

.nav-links{
    margin-top: 50px;
    margin-right: 99px;
    padding-top: 16px;
    width: 201px;
    display: flex;
    justify-content: flex-end;
}
.signin{
    margin-right: 21px;
}

.navigation{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #06114F;
}

a{
    cursor: pointer;
}
.vector{
    display: none;
    height: 26.66666603088379px;
    width: 26.666664123535156px;
}

@media (max-width: 700px) {
    .logo{
        margin-left: 10px;
    }
    .nav-links{
        margin-right: 10px;
    }
    @media(max-width: 450px){
        .navigation{
            display: none;
        }
        .vector{
            display: block;
        }
    }
}