.navbar{
    background-color:  #FFFFFF;
    height: 100px;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 45px;
    width: 197px;
    height: 56px;
}

.nav-links{
    margin-right: 99px;
    padding-top: 16px;
    min-width: 201px;
    display: flex;
    justify-content: flex-end;
}
.signin{
    margin-right: 21px;
}

.navigation{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #06114F;
}

.navigation:hover{
    transform: scale(1.03125);
}

a{
    cursor: pointer;
}
.vector{
    display: none;
    height: 26.66666603088379px;
    width: 26.666664123535156px;
}


@media (min-width: 1600px){
    .navigation{
        font-size: 170%;
    }
    .navbar{
        height: 12.75%
    }
    .logo{
        width: 13.66%;
        height: 55%;
    }
    @media (min-width: 2000px){
        .logo{
            height: 63%;
        }
    }
}

@media (max-width: 700px) {
    .logo{
        margin-left: 10px;
    }
    .nav-links{
        margin-right: 10px;
    }
    @media(max-width: 450px){
        body{
            padding: 0;
        }
        .logo{
            height: 31px;
            width: 108px;
            left: 33px;
        }
        .navigation{
            display: none;
        }
        .vector{
            margin-right: 30px;
            margin-bottom: 12.5px;
            display: block;
        }
        .navbar{
            padding-top: 15px; 
            height: 80px;
        }
    }
}