.active{
    filter: blur(11.25px);
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.first-page{
    min-height: 100vh;
    background:  #FFFFFF;
}
