.front-page{
    margin-top: 115px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 27px;
}

.content-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-text{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 300%;
    text-align: center;
    color: #252F65;
}
.one{
    margin-bottom: 0;
}
.two{
    margin-top: 0;
}

.paragraph-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 145%;
    line-height: 23px;
    text-align: center;
    color: #252F65;
}

.uploadMemeBtn{
    background: #6F3096;
    height: 65px;
    width: 286px;
    border-radius: 5px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.uploadMemeBtn:hover{
    transform: scale(1.03125);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.salty-photo{
    right: 7%;
    height: 73.85%;
    width: 40%;
    border-radius: 0px;
}


@media (max-width: 1350px) {
    .salty-photo{
        height: 83.85%;
        width: 45%;
    }
    @media (max-width: 1200px) {
        .salty-photo{
            height: 87.85%;
            width: 47%;
        }
        @media (max-width: 1050px){
            .salty-photo{
                height: 91.85%;
                width: 49%;
            }
            .paragraph-text{
                font-size: 125%;
            }
            .head-text{
                font-size: 250%;
            }
            @media (max-width: 1000px) {
                .top-headT{
                    margin-top: 50px;
                }
                .uploadMemeBtn{
                    margin-bottom: 30px;
                }
                .front-page{
                    margin-top: 115px;
                    flex-direction: column;
                }
                .salty-photo{
                    height: 87.85%;
                    width: 47%;
                }
                .paragraph-text{
                    font-size: 120%;
                }
                .head-text{
                    font-size: 200%;
                }
                @media (max-width: 900px) {
                    .salty-photo{
                        height: 95.85%;
                        width: 51%;
                    }
                    @media (max-width: 765px){
                        .salty-photo{
                            height: 394px;
                            width: 394px;                           
                        }
                        @media (max-width: 500px) {
                            .uploadMemeBtn{
                                width: 80%;
                            }
                            .head-text{
                                font-size: 28px;
                            }
                            @media (max-width: 430px) {
                                .paragraph-text{
                                    font-size: 18px;
                                    line-height: 21px;
                                }
                            }
                        }
                    }                   
                }
            }
        }
    }
}