.container-signup{
    width: 488px;
    height: 641px;
    background-color: #6F3096;
    border-radius: 5px;
}

.body{
    display: grid;
    place-items: center;
    width: 100%;
    height: 85%;
}

.main{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 85%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-signup{
    padding-left: 40px;
    padding-right: 40px;
    height: 15%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input{
    width: 75.9%;
    height: 41px;
    margin-top: 5px;
    border: 1px solid #252F65;
    border-radius: 5px;
}

.registerBtn{
    height: 9.55%;
    width: 55.9%;
    background: #6F3096;
    border-radius: 5px;
    border: none;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.header{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #6F3096;
    margin-bottom: 30px;
}

button{
    cursor: pointer;
}

.label{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px; 
    color: #252F65;
}

.logo-signup{
    width: 108px;
    height: 31px;
}

.close-signup{
    height: 25px;
    width: 25px;
    border-radius: 0px;
    cursor: pointer;
}

.close-signup:hover{
    transform: scale(1.03125);
}

.username {
    margin-top: 0;
}

.registerBtn{
    margin-top: 33px;
}

.registerBtn:hover{
    transform: scale(1.03125);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header{
    margin-top: 9%;
}

.passwordSec, .emailSec, .usernameSec{
    width: 85.9%;
}

.emailSec, .passwordSec{
    margin-top: 12px;
}

@media(max-width: 500px){
    .container-signup{
        width:90vw;
        height:641px;
    }
}